<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>


 <div ng-controller="View2Ctrl" class="angular-google-map-container" style="height:2000px;">
 
    <ng-map 
    	default-style="true" 
    	center="{{mapSettings.center.lat}}, {{mapSettings.center.long}}" 
    	zoom="{{mapSettings.zoom}}">
    	
      <marker 
      	id='{{shop.id}}' 
      	position="{{shop.position}}"
        ng-repeat="shop in shops"
        on-click="showDetail(shop)">
      </marker>

      <info-window id="foo-iw">
        <div ng-non-bindable=""><br/><br/><br/><br/>
          id: {{shop.id}}<br/>
          name: {{shop.name}}<br/>
          Position 1: {{shop.position}}<br/>
           Position 2: {{anchor.getPosition()}}<br/>
          Position 3: {{map.markers[shop.id].getPosition()}}<br/>
          <a href="#" ng-click="clicked()">Click Here</a>
        </div>
      </info-window>
    </ng-map>

    <button ng-click="showDetail(e, shop)">
      show InfoWindow of the shop
    </button>
    <button ng-click="hideDetail(e, shop)">
      Hide InfoWindow of the shop
    </button>
  </div>
  
  
<div ng-controller="View2Ctrl">
	
	<ng-map 
		default-style="true"
		center="{{mapSettings.center.lat}}, {{mapSettings.center.long}}" 
		zoom="{{mapSettings.zoom}}">
		
		<marker 
			ng-repeat="m in markers"
				id='{{m.id}}' 
				position="{{m.position}}"
	        	on-click="showDetail(m)"
	        	icon="{{m.icon}}">
		</marker>

		<info-window id="foo-iw">
	    	<div id="map-windows-container" ng-non-bindable>
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
				fasd f<br/>	    	
	          	    		<div class="marker-info-status {{markerInfo.css}}">{{markerInfo.status}}</div>
				<div class="marker-info-help-text">adresat</div>
				<div class="marker-info-recipient">{{markerInfo.recipient}}</div>
				<div class="marker-info-help-text">info</div>
				<div class="marker-info-description">{{markerInfo.description}}</div>
	          
	          <a href="#" ng-click="vm.clicked()">Click Here</a>
			</div>
		</info-window>
	</ng-map>

	    <button ng-click="vm.showDetail(e, vm.shop)">
	      show InfoWindow of the shop
	    </button>
	    <button ng-click="vm.hideDetail(e, vm.shop)">
	      Hide InfoWindow of the shop
	    </button>
	    
</div> -->